/*
 * from: basis/project.css
 */


/* --- lists --- */

.nav, .nav > li{padding:0; margin:0; list-style:none} /* not really required, just to safeguard against ul,ol global definitions */
.navleft{text-align:left}
.navleft > li, .navright > li, .navcenter > li{display:inline}
.navleft > li > a, .navright > li > a, .navcenter > li > a{padding:0 .5em}
.navright{text-align:right}
.navcenter{text-align:center}
.navcenter > li > a{display:inline-block}

.simplelist{margin:1em 0}
.simplelist, .simplelist ol, .simplelist ul{padding-left:2em}
ol.simplelist, .simplelist ol{list-style:decimal}
ul.simplelist, .simplelist ul{list-style:disc}
.simplelist li{margin:.5em 0}
.simplelist ul, .simplelist ol{margin:0 0 1em}
.simplelist dt{margin:1em 0 .2em; font-weight:bold}
.simplelist dd{margin:.5em 0; padding-left:2em}
